<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370824569234-qabtkcut55hg7m17vtqagb2vii3v0597.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370824569234-qabtkcut55hg7m17vtqagb2vii3v0597</string>
	<key>API_KEY</key>
	<string>AIzaSyANEDo0osPd-s86J3ZYIL-vgq7ObjJQwcE</string>
	<key>GCM_SENDER_ID</key>
	<string>370824569234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eco.beewise.batsexplorer</string>
	<key>PROJECT_ID</key>
	<string>bats-explorer</string>
	<key>STORAGE_BUCKET</key>
	<string>bats-explorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370824569234:ios:eb1c3b9b311c6afc28614b</string>
</dict>
</plist>